body{
    background-color:black;
}

h1, h3, p {
    color:white;
    text-align:center;
} 

.seat {
    height:70px;
    width: 70px;
    background-color:red;
    display:inline-block;
    margin: 3px;
}
input{
    width: 200px;
    margin-top: 20px;
    margin-left: 50px;

}
button{
    margin-top:20px;
    margin-left:60px;
}
.rows{
    width:456px;
    margin:0 auto;
}